.img12 {
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
body {
    opacity: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}